APP_NAME=ai-services
NODE_ENV=development
PORT=8099
BASE_URL=http://localhost:8099
LOG_LEVEL=info

DATABASE_URL_LOCAL=
DATABASE_URL_STAGING=
DATABASE_URL_PROD=

JWT_SECRET_KEY=
JWT_EXPIRY=7d

MCP_SERVICE_KEY=

API_GATEWAY_URL=http://localhost:8002

REDIS_URL=
RABBITMQ_URL=
CLOUDINARY_URL=
